<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Styles/MainStyles.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Nums Digitals</h1>
    <hr />

    <nav>
        <a href="@Url.Action("Index", "Home")">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="@Url.Action("Index", "Movie")">Movie</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </nav>


    <div>
        @RenderBody()
    </div>

    <hr />
    <footer style="text-align:left; font-style:italic">
        Contact:&nbsp;Lnt &nbsp;&nbsp;
        Address:&nbsp;Mahape
    </footer>
</body>
</html>
